﻿<%@ Page Title="Card Classifications" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="CardClassificationGroups.aspx.cs" Inherits="Diversity.Presentation.Web.Admin.CardClassificationGroups" %>
<%@ Mastertype typename="Diversity.Presentation.Web.BaseMasterPage" %>
<%@ Register src="../UserControls/Admin/CardClassificationManagementControl.ascx" tagname="CardClassificationManagementControl" tagprefix="uc1" %>
<asp:content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:content>
<asp:content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" 
    runat="server">
    <uc1:cardclassificationmanagementcontrol id="CardClassificationManagementControl1" 
        runat="server" />
</asp:content>
