﻿<%@ Page Title="Manage Cards" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Cards.aspx.cs" Inherits="Diversity.Presentation.Web.Admin.Cards" %>
<%@ Register src="../UserControls/Admin/CardListControl.ascx" tagname="CardListControl" tagprefix="uc1" %>
<asp:content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:content>
<asp:content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" 
    runat="server">
    <uc1:cardlistcontrol id="CardListControl1" runat="server" />
</asp:content>
