﻿<%@ Page Title="Distributors" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Distributors.aspx.cs" Inherits="Diversity.Presentation.Web.Admin.Distributors" culture="auto" uiculture="auto" %>
<%@ Mastertype typename="Diversity.Presentation.Web.BaseMasterPage" %>
<%@ Register src="../UserControls/Admin/ManageDistributorControl.ascx" tagname="ManageDistributorControl" tagprefix="uc1" %>

<asp:content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:content>
<asp:content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" 
    runat="server">
    <uc1:managedistributorcontrol id="ManageDistributorControl1" runat="server" />
</asp:content>
