﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="FlashAssets.aspx.cs" Inherits="Diversity.Presentation.Web.Admin.FlashAssets" %>
<%@ Mastertype typename="Diversity.Presentation.Web.BaseMasterPage" %>
<%@ Register src="../UserControls/Admin/FlashAssetManagementControl.ascx" tagname="FlashAssetManagementControl" tagprefix="uc1" %>
<asp:content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:content>
<asp:content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" 
    runat="server">
    <uc1:flashassetmanagementcontrol id="FlashAssetManagementControl1" 
        runat="server" />
</asp:content>
