﻿<%@ Page Title="Game" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Game.aspx.cs" Inherits="Diversity.Presentation.Web.Admin.Game" %>
<%@ mastertype typename="Diversity.Presentation.Web.BaseMasterPage" %>
<%@ Register src="../UserControls/Admin/GameControl.ascx" tagname="GameControl" tagprefix="uc1" %>
<asp:content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:content>
<asp:content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" 
    runat="server">
    <uc1:gamecontrol id="CreateGameControl1" runat="server" />
</asp:content>
