﻿<%@ Page Title="Game Invitations" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="GameInvitations.aspx.cs" Inherits="Diversity.Presentation.Web.Admin.GameInvitations" %>
<%@ mastertype typename="Diversity.Presentation.Web.BaseMasterPage" %>
<%@ Register src="../UserControls/Admin/GameInviteControl.ascx" tagname="GameInviteControl" tagprefix="uc1" %>
<asp:content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:content>
<asp:content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" 
    runat="server">
    <uc1:gameinvitecontrol id="GameInviteControl1" runat="server" />
</asp:content>
