﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="LogViewer.aspx.cs" Inherits="Diversity.Presentation.Web.Admin.LogViewer" %>
<%@ Register src="../UserControls/LogFileViewerControl.ascx" tagname="LogFileViewerControl" tagprefix="uc1" %>
<%@ mastertype typename="Diversity.Presentation.Web.BaseMasterPage" %>
<asp:content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:content>
<asp:content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" 
    runat="server">
    <uc1:logfileviewercontrol id="LogFileViewerControl1" runat="server" />
</asp:content>
