﻿<%@ Page Title="Role Groups" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="RoleGroups.aspx.cs" Inherits="Diversity.Presentation.Web.Admin.RoleGroups" culture="auto" uiculture="auto" %>
<%@ Mastertype typename="Diversity.Presentation.Web.BaseMasterPage" %>
<%@ Register src="../UserControls/Admin/RoleGroupManagementControl.ascx" tagname="RoleGroupManagementControl" tagprefix="uc1" %>
<asp:content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:content>
<asp:content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" 
    runat="server">
    <uc1:rolegroupmanagementcontrol id="RoleGroupManagementControl1" 
        runat="server" />
</asp:content>
