﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ServiceCalls.aspx.cs" Inherits="Diversity.Presentation.Web.Admin.ServiceCalls" %>
<%@ Register src="../UserControls/Admin/ServiceCallControl.ascx" tagname="ServiceCallControl" tagprefix="uc1" %>
<%@ Mastertype typename="Diversity.Presentation.Web.BaseMasterPage" %>
<asp:content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:content>
<asp:content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" 
    runat="server">
    <uc1:servicecallcontrol id="ServiceCallControl1" runat="server" />
</asp:content>