﻿<%@ Page Title="Manage Themes" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Themes.aspx.cs" Inherits="Diversity.Presentation.Web.Admin.Themes" %>
<%@ Mastertype typename="Diversity.Presentation.Web.BaseMasterPage" %>
<%@ Register src="../UserControls/Admin/ThemeManagementControl.ascx" tagname="ThemeManagementControl" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" runat="server">
    <uc1:thememanagementcontrol id="ThemeManagementControl1" runat="server"/>    
</asp:Content>
