﻿<%@ Page Title="Users" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Users.aspx.cs" Inherits="Diversity.Presentation.Web.Admin.Users" culture="auto" uiculture="auto" %>
<%@ Mastertype typename="Diversity.Presentation.Web.BaseMasterPage" %>
<%@ Register src="../UserControls/Admin/UserManagementControl.ascx" tagname="UserManagementControl" tagprefix="uc1" %>
<asp:content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:content>
<asp:content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" 
    runat="server">

    <uc1:usermanagementcontrol id="UserManagementControl1" runat="server" />

</asp:content>
