﻿body
{
    padding: 0;
    margin: 0;
    height: 100%;
}

html
{
    height: 100%;
    font-family: 'Segoe UI', 'Calibri', 'Tahoma'; 
    font-size: 1em;
    background: #AAA; /*background: #FFF url('aqua/dualbar.gif') repeat-x;*/
    overflow-y: scroll;
}

h1
{
    
    font-size: 2em;
    text-transform: capitalize;
    color: #0072C6;
}

h2
{    
    font-size: 1.3em;
    font-weight: 300;
    color: #0072C6;
}

h3
{
    font-size: 1.2em;
    font-weight: 300;
    color: #0072C6;
}

h4 
{
    font-size: 1em;
    font-weight: 300;
    color: #0072C6;
}

h5 {
    font-size: 0.8em;
    font-weight: 300;
    color: #ffffff;
}


hr
{
    border-top: solid 2px #F0F0F0;
}

#container
{
    margin: 0 auto; /*margin: 0 auto -7em;  relates to the height of push */
    height: 100%;
    position: relative;
    min-height: 100%;
}

#containerResize
{
    background: #FAFAFA;
    border-left: 1px solid #B8B8B8;
    border-right: 1px solid #B8B8B8;
    width: 952px;
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
}

#headerContainer
{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; /*background: #FFFFFF url('aqua/horizontalbar2.gif') repeat-y left top; */
    background: #373636; /*url('aqua/headerbackground.gif') no-repeat right top;*/   
    width: 932px;
    height: 51px;
}

#header
{
}


#logo
{
    background: transparent;
    float: left;
    width: 350px;
    margin: 0;
    padding: 10px 0px 0px 0px;
}

#headerLinks
{
    font-size: 0.7em;
    color: #FFFFFF;
    text-decoration: none; /*float: right;*/
    text-align: right;
}

#headerLinks a, a:hover, a:visited
{
    color: #FFFFFF;
    text-decoration: none;
}

#navTitleContainer
{
    width: 948px;
    margin: 0 auto;
    /*border-left: 2px solid #dae5f2;*/ /*    border-top: 1px solid #B8B8B8;     border-left: 1px solid #B8B8B8;*/
    /*border-right: 2px solid #dae5f2;*/
    /*border-bottom: 1px solid #a7abb0;
    background: #dae5f2;*/
}

#navigation
{
    padding-right: 20px;
    border-bottom: 1px solid #a7abb0;
    width: 928px;
    background: #F0F0F0; /* url('aqua/MenuBar2.gif') repeat-x top left;*/
    height: 25px;
}

#content
{
    width: 917px;
    padding-left: 12px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 150px; /*Height of footer */
    min-height: 100%;
}


#footerContainer
{
    border-top: 1px solid #a7abb0;
    margin: -70px auto;
    background: #373636;
    height: 69px; /* Height of footer */
    width: 952px;
    font-size: 0.8em;
}

#footerContainer a, a:visited
{
    color: #a7abb0;
    text-decoration: none;
}

#footerContainer a:hover
{
    text-decoration: underline;
}

.footerResize
{
    color: #a7abb0;
    margin: 0 auto;
    width: 930px;
    height: 20px;
}

.bottomFooter
{
    color: #a7abb0;
    margin: 0 auto;
    width: 930px;
    font-size: 0.8em;
    text-align: right;
}

#titleContainer
{
    height: 25px;
    padding: 5px 5px 5px 15px;
}

#titleImage
{
    padding-right: 5px;
    float: left;
    border-style: none;
}

#title
{
}

.titleImage
{
    width: 25px;
    height: 25px;
}

.pageHeading
{    
    font-size: 1.3em;
    font-weight: 300;
    color: #0072C6;
}

.errormsg
{
    color: Red;
}

.dxeTextBox_MetropolisBlue
{
    width: 180px;
}

/* For the login page */

#loginContainerResize
{
    background: #ffffff;
    color: #ffffff;
    border-left: 1px solid #B8B8B8;
    border-right: 1px solid #B8B8B8;
    width: 952px;
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
}

#containerverticalcenter
{
    border-top: 2px solid #a7abb0;
    border-bottom: 2px solid #a7abb0;
    width: 952px;
    position: absolute;
    top: 25%;
    background: #373636;
    padding-top: 50px; /*padding-bottom:1em;*/
    height: 400px;
}
.loginTitleImage
{
    width: 36px;
    height: 36px;
}


#loginfooter
{
    position: absolute;
    width: 100%;
    font-size: 0.7em;
    color: #5B5B5B;
}

#loginPageTitle
{
    font-family: 'Segoe UI', 'Calibri', 'Tahoma'; 
    font-size: 2em;
    color: #0072C6;
}

#loginLinks
{
    font-size: 0.8em;
    font-family: 'Segoe UI', 'Calibri', 'Tahoma';
}

#loginLinks a, a:visited
{
    text-decoration: none;
    color: #ffffff;
}

#loginLinks a:hover
{
    color: #ffffff;
    text-decoration: underline;
}

#aspxGridViewUpdateCancelButtonBar
{
    width: 100%;
    /*background: #5B5B5B;*/
    text-align: right;
    padding: 2px 2px 2px 2px;
}

#aspxGridViewCancelButton
{
    padding-left: 5px;
    float: right;
}

#aspxGridViewCancelButton a, a:visited, a:hover {
    color: #0072C6;
}

.templateTable
{
    border-collapse: collapse;
    width: 100%;
}
.templateTable td
{
    border: solid 1px #0072C6;
    padding: 6px;
}
.templateTable td.value
{
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;   
}