﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ChangePassword.aspx.cs" Inherits="Diversity.Presentation.Web.Authentication.ChangePassword" culture="auto" uiculture="auto" %>
<%@ Mastertype typename="Diversity.Presentation.Web.BaseMasterPage" %>
<%@ Register src="~/UserControls/ChangePasswordControl.ascx" tagname="ChangePasswordControl" tagprefix="uc1" %>
<asp:content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:content>
<asp:content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" 
    runat="server">
    <uc1:changepasswordcontrol id="ChangePasswordControl1" runat="server" />
</asp:content>
