﻿.Header1 {
    font-size: 36px;
    line-height: 40px;
}

.Header2 {
    font-size: 30px;
    line-height: 40px;
}

.Header3 {
    font-size: 24px;
    line-height: 40px;
}

.Header4 {
    font-size: 18px;
    line-height: 20px;
}

.Header5 {
    font-size: 14px;
    line-height: 20px;
}

.Header6 {
    font-size: 12px;
    line-height: 20px;
}
