﻿<%@ control language="C#" autoeventwireup="true" codebehind="ClientManagementControl.ascx.cs"
    inherits="Diversity.Presentation.Web.UserControls.Admin.ClientManagementControl" %>
<%@ register assembly="DevExpress.XtraCharts.v17.1.Web, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    namespace="DevExpress.XtraCharts.Web" tagprefix="dxchartsui" %>
<%@ register assembly="DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    namespace="DevExpress.Web" tagprefix="dx" %>







<script id="dxis_ClientManagementControl" language="javascript" type="text/javascript"
    src='<%=ResolveUrl("~/UserControls/Admin/ClientManagementControl.js") %>'>

</script>
<dx:aspxhiddenfield ID="HiddenField" runat="server" ClientInstanceName="HiddenField">
</dx:aspxhiddenfield>
<dx:aspxcallback runat="server" ID="CheckSessionCallback" ClientInstanceName="CheckSessionCallback" OnCallback="CheckSessionCallback_OnCallback">
    <ClientSideEvents CallbackComplete="CheckSessionCallback_CallbackComplete"></ClientSideEvents>
</dx:aspxcallback>
<dx:aspxloadingpanel ID="LoadingPanel" ClientInstanceName="LoadingPanel" Modal="True" runat="server"></dx:aspxloadingpanel>
 <dx:aspxpopupcontrol id="NotificationPopupControl" clientinstancename="NotificationPopupControl"
        showclosebutton="True" popuphorizontalalign="WindowCenter" popupverticalalign="WindowCenter"
        closeaction="CloseButton" modal="True" runat="server" ShowOnPageLoad="False">
        <contentcollection>
            <dx:popupcontrolcontentcontrol>
                <div>
                    <p>
                        <dx:aspxlabel runat="server" id="PopupLabel" clientinstancename="PopupLabel" />
                    </p>
                </div>
            </dx:popupcontrolcontentcontrol>
        </contentcollection>
    </dx:aspxpopupcontrol>
<dx:aspxpopupcontrol ID="UploadPopupControl" runat="server" ClientInstanceName="UploadPopupControl"
    CloseAction="CloseButton" Modal="true" PopupHorizontalAlign="WindowCenter" PopupVerticalAlign="WindowCenter"
    HeaderText="Upload File" AllowDragging="true" EnableAnimation="false" EnableViewState="false">
    <ClientSideEvents Closing="UploadPopupControl_Closing" PopUp="function(s){s.UpdatePosition();}" />
    <ContentCollection>
        <dx:PopupControlContentControl ID="Popupcontrolcontentcontrol1" runat="server">
            <dx:ASPxPanel ID="UploadPanel" runat="server" DefaultButton="UploadButton">
                <PanelCollection>
                    <dx:PanelContent>
                        <table>
                            <tr>
                                <td>
                                    <dx:ASPxLabel ID="SelectFileLabel" runat="server" Text="Select File">
                                    </dx:ASPxLabel>
                                </td>
                                <td>
                                    <dx:ASPxUploadControl ID="UploadControl" runat="server" ClientInstanceName="UploadControl"
                                        EnableViewState="false" ShowProgressPanel="true" OnFileUploadComplete="UploadControl_FileUploadComplete"
                                        UploadMode="Standard">
                                        <ValidationSettings MaxFileSize="4194304" MaxFileSizeErrorText="Maximum file size allowed is 4Mb">
                                        </ValidationSettings>
                                        <ClientSideEvents FileUploadComplete="UploadControl_FileUploadComplete" FileUploadStart="UploadControl_FileUploadStart" TextChanged="UploadControl_TextChanged" />
                                    </dx:ASPxUploadControl>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <dx:ASPxButton ID="UploadButton" runat="server" ClientInstanceName="UploadButton"
                                        Text="Upload" AutoPostBack="false" ClientEnabled="false">
                                        <ClientSideEvents Click="UploadButton_Click" />
                                    </dx:ASPxButton>
                                </td>
                            </tr>
                        </table>
                    </dx:PanelContent>
                </PanelCollection>
            </dx:ASPxPanel>
        </dx:PopupControlContentControl>
    </ContentCollection>
</dx:aspxpopupcontrol>
<dx:aspxpopupcontrol id="DeleteNotificationPopupControl" clientinstancename="DeleteNotificationPopupControl" runat="server"
    closeaction="CloseButton" modal="true" popuphorizontalalign="WindowCenter" popupverticalalign="WindowCenter"
    headertext="Confirm" allowdragging="true" enableanimation="false" enableviewstate="false" showonpageload="False">
    <ClientSideEvents PopUp="function(s){s.UpdatePosition();}" />
    <ContentCollection>        
        <dx:PopupControlContentControl ID="Popupcontrolcontentcontrol2" runat="server">
            <table>
                <tr>
                    <td>
                        <dx:ASPxLabel ID="ASPxLabel1" runat="server" Text="Deleting this client will delete all the users and games associated to this client. Are you sure you want to delete this client?"/>
                    </td>
                </tr>
                <tr>
                    <td >
                         <table style="border-collapse: collapse;">
                                        <tr>
                                            <td>
                                                <dx:ASPxButton runat="server" AutoPostBack="False" ID="DeleteClientButton" ClientInstanceName="DeleteClientButton" Text="Delete">
                                <ClientSideEvents Click="DeleteClientButton_Click"></ClientSideEvents>
                            </dx:ASPxButton>                   
                                            </td>
                                            <td class="spacer"></td>
                                            <td>
                                                <dx:ASPxButton runat="server" AutoPostBack="False" ID="CancelDeleteClientButton" ClientInstanceName="CancelDeleteClientButton" Text="Cancel">
                                <ClientSideEvents Click="CancelDeleteClientButton_Click"></ClientSideEvents>
                            </dx:ASPxButton>               
                                                </td>
                                        </tr>
                                    </table>
                    </td>
                </tr>
            </table>
        </dx:PopupControlContentControl>
    </ContentCollection>
</dx:aspxpopupcontrol>
<dx:aspxcallback id="DeleteClientCallback" runat="server" clientinstancename="DeleteClientCallback" oncallback="DeleteClientCallback_OnCallback">
    <ClientSideEvents CallbackComplete="DeleteClientCallback_CallbackComplete" ></ClientSideEvents>
</dx:aspxcallback>
<dx:aspxgridview id="ClientGridView" runat="server" autogeneratecolumns="False" datasourceid="ClientDataSource"
    keyfieldname="ClientID" width="100%" onrowdeleting="ClientGridView_RowDeleting"
    onrowinserting="ClientGridView_RowInserting" onrowupdating="ClientGridView_RowUpdating"
    oncancelrowediting="ClientGridView_CancelRowEditing" oninitnewrow="ClientGridView_InitNewRow"
    clientinstancename="ClientGridView" onstartrowediting="ClientGridView_StartRowEditing"
    onrowvalidating="ClientGridView_RowValidating">
    <ClientSideEvents CustomButtonClick="CustomButtonClick"></ClientSideEvents>
    <settingsdetail showdetailrow="true" allowonlyonemasterrowexpanded="true" />
    <columns>
        <dx:gridviewcommandcolumn visibleindex="0" width="100px" ShowEditButton="True" ShowNewButton="False" ShowClearFilterButton="True">
            <CustomButtons>
                <dx:GridViewCommandColumnCustomButton ID="DeleteButton" Text="Delete">
                </dx:GridViewCommandColumnCustomButton>
            </CustomButtons>
            <headercaptiontemplate>
                <asp:linkbutton id="NewLinkButton" runat="server" onclientclick="AddNewRow(ClientGridView);return false;" text="New"/>
            </headercaptiontemplate>
        </dx:gridviewcommandcolumn>
        <dx:gridviewdatatextcolumn fieldname="ClientID" readonly="True" visible="false" visibleindex="1">
            <editformsettings visible="False" />
        </dx:gridviewdatatextcolumn>
        <dx:gridviewdatatextcolumn fieldname="ClientLogoImageURL" visible="false"  visibleindex="2">
            <editformsettings visible="False" />
        </dx:gridviewdatatextcolumn>
        <dx:gridviewdatatextcolumn fieldname="ClientName" caption="Company Name" visibleindex="3">
        </dx:gridviewdatatextcolumn>
        <dx:gridviewdatatextcolumn fieldname="ExternalID" caption="Scorm Client Code" visibleindex="4" cellstyle-cssclass="uppercase"/>
    </columns>
    <settingsbehavior enablerowhottrack="True" />
    <settingspager alwaysshowpager="True">
        <allbutton visible="True">
            <image tooltip="Show All Clients">
            </image>
        </allbutton>
    </settingspager>
    <settings showgrouppanel="True" showfilterrow="True" />
    <styles>
        <alternatingrow enabled="True">
        </alternatingrow>
    </styles>
    <templates>
        <editform>
            <table>
                <tr>
                    <td>
                        <dx:aspxlabel id="ClientNameLabel" runat="server" text="Company Name" />
                    </td>
                    <td>
                        <dx:aspxtextbox id="ClientNameTextBox" runat="server" text='<%# Bind("ClientName") %>'
                            validationsettings-validationgroup='<%#Container.ValidationGroup %>'>
                            <validationsettings setfocusonerror="true" errordisplaymode="ImageWithTooltip">
                                <requiredfield isrequired="true" errortext="A client name is required" />
                            </validationsettings>
                        </dx:aspxtextbox>
                    </td>
                    <td class="spacer">
                    </td>
                    <td>
                        <dx:aspxlabel id="ClientCodeLabel" runat="server" text="Scorm Client Code"/>
                    </td>
                    <td>                        
                        <dx:aspxlabel id="ClientCodeTextLabel" runat="server" text='<%# Bind("ExternalID") %>' font-bold="True" style="text-transform: uppercase;" clientvisible='<%# !string.IsNullOrEmpty((string)Eval("ExternalID"))%>'/>
                        <dx:aspxlabel runat="server" text="automatically generated" font-bold="True" style="text-transform: uppercase;" clientvisible='<%# string.IsNullOrEmpty((string)Eval("ExternalID"))%>'/>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td class="spacer">
                    </td>
                    <td>
                    </td>
                    <td>
                        <dx:aspxcheckbox id="UsePhysicalCheckBox" runat="server" text="Same as Physical Address"
                            clientinstancename="UsePhysicalCheckBox" checkstate="Unchecked">
                            <clientsideevents checkedchanged="function(s,e){OnUsePhysicalCheckBoxCheckChanged(s,e);}" />
                        </dx:aspxcheckbox>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <dx:aspxlabel id="PhysicalAddressLabel" runat="server" text="Physical Address" />
                    </td>
                    <td valign="top">
                        <table style="border-collapse: collapse">
                            <tr>
                                <td>
                                    <dx:aspxtextbox id="PhysicalAddress1TextBox" runat="server" clientinstancename="PhysicalAddress1TextBox"
                                        nulltext="Address Line 1" text='<%# Bind("PhysicalAddress1") %>'>
                                    </dx:aspxtextbox>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dx:aspxtextbox id="PhysicalAddress2TextBox" runat="server" clientinstancename="PhysicalAddress2TextBox"
                                        nulltext="Address Line 2" text='<%# Bind("PhysicalAddress2") %>'>
                                    </dx:aspxtextbox>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dx:aspxtextbox id="PhysicalStateProvinceTextBox" runat="server" clientinstancename="PhysicalStateProvinceTextBox"
                                        nulltext="State or Province" text='<%# Bind("PhysicalStateProvince") %>'>
                                    </dx:aspxtextbox>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dx:aspxtextbox id="PhysicalCountryTextBox" runat="server" nulltext="Country" clientinstancename="PhysicalCountryTextBox"
                                        text='<%# Bind("PhysicalCountry") %>'>
                                    </dx:aspxtextbox>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dx:aspxtextbox id="PhysicalPostCodeTextBox" runat="server" clientinstancename="PhysicalPostCodeTextBox"
                                        nulltext="Post Code" text='<%# Bind("PhysicalPostalCode") %>'>
                                    </dx:aspxtextbox>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="spacer">
                    </td>
                    <td valign="top">
                        <dx:aspxlabel id="PostalAddressLabel" runat="server" text="Postal Address" />
                    </td>
                    <td valign="top">
                        <table style="border-collapse: collapse">
                            <tr>
                                <td>
                                    <dx:aspxtextbox id="PostalAddress1TextBox" runat="server" clientinstancename="PostalAddress1TextBox"
                                        nulltext="Address Line 1" text='<%# Bind("PostalAddress1") %>'>
                                    </dx:aspxtextbox>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dx:aspxtextbox id="PostalAddress2TextBox" runat="server" clientinstancename="PostalAddress2TextBox"
                                        nulltext="Address Line 2" text='<%# Bind("PostalAddress2") %>'>
                                    </dx:aspxtextbox>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dx:aspxtextbox id="PostalStateProvinceTextBox" runat="server" clientinstancename="PostalStateProvinceTextBox"
                                        nulltext="State or Province" text='<%# Bind("PostalStateProvince") %>'>
                                    </dx:aspxtextbox>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dx:aspxtextbox id="PostalCountryTextBox" runat="server" nulltext="Country" clientinstancename="PostalCountryTextBox"
                                        text='<%# Bind("PostalCountry") %>'>
                                    </dx:aspxtextbox>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dx:aspxtextbox id="PostalPostCodeTextBox" runat="server" nulltext="Post Code" clientinstancename="PostalPostCodeTextBox"
                                        text='<%# Bind("PostalPostalCode") %>'>
                                    </dx:aspxtextbox>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <dx:aspxlabel id="ClientTel1Label" runat="server" text="Tel 1" />
                    </td>
                    <td>
                        <dx:aspxtextbox id="ClientTel1TextBox" runat="server" text='<%# Bind("ClientTel1") %>'>
                        </dx:aspxtextbox>
                    </td>
                    <td class="spacer">
                    </td>
                    <td>
                        <dx:aspxlabel id="WebsiteLabel" runat="server" text="Website" />
                    </td>
                    <td>
                        <dx:aspxtextbox id="WebsiteTextBox" runat="server" text='<%# Bind("ClientWebsite") %>'>
                        </dx:aspxtextbox>
                    </td>
                </tr>
                <tr>
                    <td>
                        <dx:aspxlabel id="ClientTel2Label" runat="server" text="Tel 2" />
                    </td>
                    <td>
                        <dx:aspxtextbox id="ClientTel2TextBox" runat="server" text='<%# Bind("ClientTel2") %>'>
                        </dx:aspxtextbox>
                    </td>
                    <td class="spacer">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <dx:aspxmemo id="ClientNotesTextBox" runat="server" nulltext="Client notes here"
                            text='<%# Bind("ClientNotes") %>' rows="5" width="100%">
                        </dx:aspxmemo>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        <dx:aspxlabel id="ThemeLabel" runat="server" text="Theme"/>
                    </td>
                    <td>
                        <dx:aspxcombobox id="ThemeComboBox" dropdownstyle="DropDownList" runat="server" datasourceid="ThemeDataSource" valuefield="ThemeID" textfield="ThemeName" valuetype="System.Int32" 
                            value='<%#Bind("ThemeID") %>'/>
                    </td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <hr/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <dx:aspxlabel id="ClientLogoLabel" runat="server" text="Client Logo" />
                    </td>
                    <td colspan="4">
                        <table cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                            <tr>
                                <td>
                                    <dx:ASPxHyperLink ID="ClientLogoMediaHyperLink" runat="server" 
                                    Target="_blank" Text="" NavigateUrl="#" OnInit="ClientLogoMediaHyperLink_OnInit">
                                    </dx:ASPxHyperLink>
                                    <dx:ASPxTextbox runat="server" ID="ClientLogoImageUrl"
                                        Text='<%# Bind("ClientLogoImageURL") %>' OnInit="ClientLogoImageUrl_OnInit"></dx:ASPxTextbox>
                                    <dx:ASPxTextbox runat="server" ID="ClientLogoImageFriendlyName" 
                                        Text='<%# Bind("ClientLogoImageFriendlyName") %>' OnInit="ClientLogoImageFriendlyName_OnInit"></dx:ASPxTextbox>
                                </td>
                                <td>
                                    <dx:ASPxButton ID="ClientLogoBrowseButton"  
                                        runat="server" Text="Browse.." AutoPostBack="false" OnInit="ClientLogoBrowseButton_OnInit">
                                    <ClientSideEvents Click="function(s,e){ ShowUploadWindow('ClientLogo'); }" />
                                </dx:ASPxButton>
                                </td>
                                <td>&nbsp;&nbsp;
                                </td>
                                <td>
                                    <dx:ASPxHyperLink ID="ClientLogoMediaHyperRemoveHyperlink" runat="server" OnInit="ClientLogoMediaHyperRemoveHyperlink_OnInit"
                                    NavigateUrl="#" Text="Remove" ClientVisible="false">
                                </dx:ASPxHyperLink>
                                </td>
                            </tr>
                        </table>                        
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <asp:label id="DemographicLabel" runat="server" text="Demographic Questions" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <dx:aspxlabel id="NumEmployeeLabel" runat="server" text="No of Employees" />
                    </td>
                    <td>
                        <dx:aspxspinedit id="NoEmployeeSpinEdit" runat="server" numbertype="Integer" number="0"
                            clientinstancename="NoProductSpinEdit" minvalue="0" maxvalue="99999999" allowuserinput="False"
                            height="15px" value='<%# Bind("ClientNoOfEmployees") %>'>
                            <spinbuttons showlargeincrementbuttons="true" showincrementbuttons="true">
                            </spinbuttons>
                        </dx:aspxspinedit>
                        <%--                        <dx:aspxtextbox id="NumEmployeeTextBox" runat="server" text='<%# Bind("ClientNoOfEmployees") %>'>
                            <clientsideevents validation="NumEmployeeTextBox_Validate" />
                            <validationsettings setfocusonerror="true" errordisplaymode="ImageWithTooltip">
                            </validationsettings>
                        </dx:aspxtextbox>
                        --%>
                    </td>
                    <td class="spacer">
                    </td>
                    <td>
                        <dx:aspxlabel id="IndustrySectorLabel" runat="server" text="Industry/Sector" />
                    </td>
                    <td>
                        <dx:aspxtextbox id="IndustrySectorTextBox" runat="server" text='<%# Bind("ClientIndustrySector") %>'>
                        </dx:aspxtextbox>
                    </td>
                </tr>
                <tr>
                    <td>
                        <dx:aspxlabel id="AnnualTurnoverLabel" runat="server" text="Annual Turnover" />
                    </td>
                    <td>
                        <dx:aspxtextbox id="AnnualTuroverTextBox" runat="server" text='<%# Bind("ClientAnnualTurnover", "{0:0}") %>'
                            validationsettings-validationgroup='<%#Container.ValidationGroup %>'>
                            <clientsideevents validation="AnnualTuroverTextBox_Validate" />
                            <validationsettings setfocusonerror="true" errordisplaymode="ImageWithTooltip" errortext="Annual turnover must be a whole number">
                            </validationsettings>
                        </dx:aspxtextbox>
                    </td>
                    <td class="spacer">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <%--                        <dx:aspxtextbox id="DistributorAccessGridViewValidatingTextBox" runat="server" clientenabled="false" width="0px"
                         clientinstancename="DistributorAccessGridViewValidatingTextBox" validationsettings-validationgroup='<%#Container.ValidationGroup %>'>
                            <validationsettings errordisplaymode="ImageWithText" errortext="At least one distributor with access granted must be selected">                            
                            </validationsettings>
                            <clientsideevents validation="DistributorAccessGridView_Validate" />
                        </dx:aspxtextbox>
                        --%>
                        <br />
                        <dx:aspxlabel id="DistributorAccessValidateMessageLabel" runat="server" text="At least one distributor must be owner with access granted"
                            clientinstancename="DistributorAccessValidateMessageLabel">
                        </dx:aspxlabel>
                        <br />
                        <br />
                        <dx:aspxgridview id="DistributorAccessGridView" runat="server" autogeneratecolumns="False"
                            clientinstancename="DistributorAccessGridView" keyfieldname="DistributorID" datasourceid="DistributorAccessDataSource"
                            caption="Distributor Access" ondatabound="DistributorAccessGridView_DataBound">
                            <clientsideevents selectionchanged="DistributorAccessGridView_SelectionChanged" />
                            <settingsbehavior allowselectsinglerowonly="true" />
                            <columns>
                                <dx:gridviewdatacheckcolumn fieldname="IsGranted" caption="Grant" visibleindex="0">
                                    <dataitemtemplate>
                                        <dx:aspxcheckbox id="IsAcessGrantedCheckBox" runat="server" value='<%# Eval("IsGranted") %>'
                                            clientinstancename="DistributorIsAccessGrantedCheckBox" oninit="IsAcessGrantedCheckBox_Init">
                                            <clientsideevents checkedchanged="IsAccessGrantedCheckBox_DistributorAccess_CheckChanged" />
                                        </dx:aspxcheckbox>
                                    </dataitemtemplate>
                                </dx:gridviewdatacheckcolumn>
                                <dx:gridviewdatatextcolumn fieldname="DistributorName" caption="Distributor Name"
                                    visibleindex="1">
                                </dx:gridviewdatatextcolumn>
                                <dx:gridviewcommandcolumn showselectcheckbox="True" visibleindex="2" caption="Owner">
                                </dx:gridviewcommandcolumn>
                            </columns>
                        </dx:aspxgridview>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div id="aspxGridViewUpdateCancelButtonBar">
                            <div id="aspxGridViewCancelButton">
                                <dx:aspxgridviewtemplatereplacement id="CancelButton" replacementtype="EditFormCancelButton"
                                    runat="server" columnid="" />
                            </div>
                            &nbsp;&nbsp;
                            <asp:linkbutton id="UpdateLinkButton" runat="server" onclientclick="OnUpdateButtonClick();return false;"
                                tabindex="18" text="Update" />
                            <%--                            <dx:aspxgridviewtemplatereplacement id="UpdateButton" replacementtype="EditFormUpdateButton"
                                runat="server" columnid="" tabindex="18" />
                            --%>
                            <dx:aspxdateedit id="LastModifiedOnDateTimeDateEdit" runat="server" clientvisible="false" value='<%#Bind("LastModifiedOnDateTime")%>'>
                            </dx:aspxdateedit>
                        </div>
                    </td>
                </tr>
            </table>
        </editform>
        <detailrow>
            <dx:aspxgridview id="ProductAccessGridView" runat="server" autogeneratecolumns="False"
                clientinstancename="ProductAccessGridView" caption="Product Access" datasourceid="ProductAccessDataSource"
                keyfieldname="Product2DistributorID" ondatabound="ProductAccessGridView_DataBound"
                onbeforeperformdataselect="ProductAccessGridView_BeforePerformDataSelect" oncustomcallback="ProductAccessGridView_CustomCallback"
                enablerowscache="false">
                <settings showfooter="true" />
                <clientsideevents endcallback="ProductAccessGridView_EndCallback" />
                <columns>
                    <dx:gridviewcommandcolumn visibleindex="0" name="CommandColumn" visible="false" caption="">
                    </dx:gridviewcommandcolumn>
                    <dx:gridviewdatacheckcolumn fieldname="GrantAcccess" caption="Grant Access" visibleindex="1">
                        <dataitemtemplate>
                            <dx:aspxcheckbox id="IsAcessGrantedCheckBox" runat="server" value='<%# Eval("IsSelected") %>'
                                clientinstancename="IsAccessGrantedCheckBox" oninit="IsAcessGrantedCheckBox_ProductAccess_Init">
                                <clientsideevents checkedchanged="IsAccessGrantedCheckBox_ProductAccess_CheckChanged" />
                            </dx:aspxcheckbox>
                        </dataitemtemplate>
                        <footertemplate>
                            <asp:linkbutton id="UpdateLinkButton" runat="server" onclientclick="UpdateProductAccess();return false;"
                                text="Update" />&nbsp;&nbsp;&nbsp;
                            <asp:linkbutton id="CancelLinkButton" runat="server" onclientclick="CancelProductAccess();return false;"
                                text="Cancel" />
                        </footertemplate>
                    </dx:gridviewdatacheckcolumn>
                    <dx:gridviewdatatextcolumn fieldname="ProductName" visibleindex="2">
                    </dx:gridviewdatatextcolumn>
                    <dx:gridviewdatatextcolumn fieldname="DistributorName" visibleindex="3">
                    </dx:gridviewdatatextcolumn>
                    <dx:gridviewdatacheckcolumn fieldname="OnlyShowClientCustomAvatars" visibleindex="4">
                        <dataitemtemplate>
                            <dx:aspxcheckbox id="OnlyShowClientCustomAvatarsCheckBox" runat="server" value='<%#Eval("OnlyShowClientCustomAvatars") %>'
                                clientenabled='<%#Eval("IsSelected") %>' clientinstancename="OnlyShowClientCustomAvatarsCheckBox"
                                oninit="OnlyShowClientCustomAvatarsCheckBox_Init">
                            </dx:aspxcheckbox>
                        </dataitemtemplate>
                    </dx:gridviewdatacheckcolumn>
                    <dx:gridviewdatatextcolumn fieldname="ClientSpecificProductTheme" visibleindex="5">
                        <dataitemtemplate>
                            <dx:aspxtextbox id="ClientSpecificProductThemeTextBox" runat="server" text='<%# Eval("ClientSpecificProductTheme") %>'
                                clientinstancename="ClientSpecificProductThemeTextBox" clientenabled='<%#Eval("IsSelected") %>'
                                oninit="ClientSpecificProductThemeTextBox_Init">
                            </dx:aspxtextbox>
                        </dataitemtemplate>
                    </dx:gridviewdatatextcolumn>
                    <dx:gridviewdatacomboboxcolumn fieldname="QuestionMix" visibleindex="6">
                        <propertiescombobox valuetype="System.String">
                        </propertiescombobox>
                        <dataitemtemplate>
                            <dx:aspxcombobox id="QuestionMixComboBox" runat="server" clientinstancename="QuestionMixComboBox"
                                valuetype="System.String" value='<%# Eval("QuestionMix") %>' dropdownstyle="DropDownList"
                                clientenabled='<%#Eval("IsSelected") %>' oninit="QuestionMixComboBox_Init">
                                <items>
                                    <dx:listedititem text="Mixed" value="MIXED" />
                                    <dx:listedititem text="Ratified Only" value="RATIFIEDONLY" />
                                    <dx:listedititem text="Unratified Only" value="UNRATIFIEDONLY" />
                                </items>
                            </dx:aspxcombobox>
                        </dataitemtemplate>
                    </dx:gridviewdatacomboboxcolumn>
                </columns>
            </dx:aspxgridview>
        </detailrow>
    </templates>
</dx:aspxgridview>
<asp:linqdatasource id="ClientDataSource" runat="server" contexttypename="Diversity.DataModel.SqlRepository.EChallengeDataContext"
    entitytypename="" orderby="ClientName" tablename="Clients" onselecting="ClientDataSource_Selecting">
</asp:linqdatasource>
<asp:linqdatasource id="DistributorAccessDataSource" runat="server" contexttypename="Diversity.DataModel.SqlRepository.EChallengeDataContext"
    entitytypename="" onselecting="DistributorAccessDataSource_Selecting" tablename="Distributors">
</asp:linqdatasource>
<asp:linqdatasource id="ProductAccessDataSource" runat="server" contexttypename="Diversity.DataModel.SqlRepository.EChallengeDataContext"
    entitytypename="ProductAccess" tablename="DistributorClient2DistributorProducts"
    onselecting="ProductAccessDataSource_Selecting">
</asp:linqdatasource>
<asp:linqdatasource id="ThemeDataSource" runat="server" contexttypename="Diversity.DataModel.SqlRepository.EChallengeDataContext"
                    entitytypename="Theme" tablename="Themes" onselecting="ThemeDataSource_Selecting"/>