﻿<%@ master language="C#" autoeventwireup="true" codebehind="AuthenticationPage.Master.cs"
    inherits="Diversity.Presentation.Web.AuthenticationPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link type="text/css" href="App_Themes/Layout2.css" rel="stylesheet" />
    <asp:contentplaceholder id="head" runat="server">
    </asp:contentplaceholder>
</head>
<body>
    <div id="container">
        <div id="loginContainerResize">
            <form id="form1" runat="server">
            <div id="containerverticalcenter">
                <table align="center">
                    <tr>
                        <td valign="middle">
                            <div>
                                <asp:image id="IconImage" runat="server" imageurl="~/App_Themes/Aqua/Icons/newlogo.png" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 80px;">
                            <div id="titleContainer">
                                <div id="titleImage">
                                    <asp:image id="TitleImage" runat="server" cssclass="loginTitleImage" />
                                </div>
                                <div id="loginPageTitle">
                                    <%=Page.Title %>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <asp:contentplaceholder id="MainContentPlaceHolder" runat="server">
                            </asp:contentplaceholder>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="loginfooter">
                                <br />
                                Copyright &copy; 2006 - 2011 BizTorque Ltd.
                                <br />
                                ALL RIGHTS RESERVED
                                <br />
                                All trademarks or registered trademarks are property of their respective owners
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            </form>
        </div>
    </div>
</body>
</html>