﻿<%@ page language="C#" autoeventwireup="true" codebehind="Login.aspx.cs" inherits="Diversity.Presentation.Web.Login" masterpagefile="~/AuthenticationPage.Master" title="Sign In" %>
<%@ Mastertype typename="Diversity.Presentation.Web.BaseMasterPage" %>
<%@ register src="UserControls/LoginUserControl.ascx" tagname="LoginUserControl"
    tagprefix="uc1" %>

<asp:content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:content>
<asp:content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" 
    runat="server">
    <uc1:loginusercontrol id="LoginUserControl2" runat="server" />
</asp:content>

