﻿body {
    padding: 0 0 0 100px;    
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
    font-family: 'Segoe UI', 'Calibri', 'Tahoma';
    font-size: 1em;
    background: #FFFFFF;
    overflow-y: scroll;
}

h1 {
    font-size: 2em;
    font-weight: 500;
    text-transform: capitalize;
    color: #0072C6;
    margin-bottom: 0;
}

h2 {
    font-size: 1.3em;
    font-weight: 300;
    color: #0072C6;
    margin-bottom: 0;
}

h3 {
    font-size: 1.2em;
    font-weight: 300;
    color: #0072C6;
    margin-bottom: 0;
}


hr { 
    border-top: solid 2px #F0F0F0;
}


input[type=text] {
    width: 200px;
}

input[type=password] {
    width: 200px;
}

input[type=submit] {
    border: none;
    width: 120px;
    height: 30px;
    background: #0072C6;
    color: #ffffff;
}

input[type=submit]:hover {
    border: none;
    width: 120px;
    height: 30px;
    background: #373636;
    color: #ffffff;
}

textarea, input[type="text"] {
    /* font size, line height, face */
    font-family: 'Segoe UI', 'Calibri', 'Tahoma';
    font-size: 0.8em;
    /* useful for supporting 100% width inclusive of padding and border */
    box-sizing: border-box;
}

.image {
    height: 24px;
    width: 24px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

table.gridview {
	font-family: 'Segoe UI', 'Calibri', 'Tahoma';
	font-size:1em;
	color:#333333;
	border-width: 1px;
	border-color: #F0F0F0;
	border-collapse: collapse;
}
table.gridview th {
    color: #0072c6;
    font-weight: 300;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #F0F0F0;
	background-color: #dedede;
}
table.gridview td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #F0F0F0;
	background-color: #ffffff;
}

.validationsummary {
    background-color: #dedede;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 0.8em;
    width: 100%
}

.validationsummary ul {    
    padding-left: 20px;    
    color: red;
}

.validationsummary ul li {
    
}

.errormsg { color: red;}